.start-list {
  /* width: 100%; */
  padding: 0;
  list-style: none;
  display: flex;
  justify-content: flex-start;
  border-bottom: 2px solid gray;
}

.start-list li:not(:last-child) {
  margin-right: 20px;
}

.NavLink {
  color: #212121;
}

.NavLink-active {
  color: palevioletred;
}

.movie-list {
  display: flex;
  flex-direction: column;
}

.movies-wrapper {
  display: flex;
}

.movie-details {
  display: flex;
}

.movie-details img {
  width: 200px;
  margin-right: 20px;
  margin-bottom: 5px;
}

.movie-details span:not(:last-child) {
  margin-right: 20px;
}

.back-to {
  background-color: #004aff;
  color: wheat;
  border: 1px solid #eee;
  padding: 5px 20px;
  margin-bottom: 10px;
  width: 200px;
  cursor: pointer;
}

.additional-list {
  border-top: 1px solid gray;
  border-bottom: 1px solid gray;
}

.cast-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.cast-list li {
  border: 2px solid paleturquoise;
  width: 200px;
  text-align: center;
}

.cast-list img {
  height: 150px;
  margin: 0 auto;
}

.cast-list span {
  margin-bottom: 5px;
}

.cast-list p {
  margin: 0;
  font-weight: 700;
}

/*
 * Стили компонента SearchForm
 */
.SearchForm {
  display: flex;
  align-items: center;
  width: 100%;
  max-width: 600px;
  background-color: #fff;
  border-radius: 3px;
  overflow: hidden;
  border: 1px solid #3f51b5;
}

.SearchForm-button {
  display: inline-block;
  width: 48px;
  height: 48px;
  border: 0;
  background-image: url('https://image.flaticon.com/icons/svg/149/149852.svg');
  background-size: 40%;
  background-repeat: no-repeat;
  background-position: center;
  opacity: 0.6;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
  cursor: pointer;
  outline: none;
}

.SearchForm-button:hover {
  opacity: 1;
}

.SearchForm-button-label {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  clip-path: inset(50%);
  border: 0;
}

.SearchForm-input {
  display: inline-block;
  width: 100%;
  font: inherit;
  font-size: 20px;
  border: none;
  outline: none;
  padding-left: 4px;
  padding-right: 4px;
}

.SearchForm-input::placeholder {
  font: inherit;
  font-size: 18px;
}